# Why this file exists?
# .dockerignore is used to tell Docker which files and directories to ignore when building an image.
#  This helps reduce the size of the image and speeds up the build process by excluding unnecessary files.

#############################################################
# Git
#############################################################

.git/
.gitignore/
.github/

#############################################################
# Python caches
#############################################################

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/ 

#############################################################
# Virtual Environments
#############################################################

.venv/
venv/
env/
ENV/

#############################################################
# Build artifacts
#############################################################

build/
dist/
*.egg-info/
.eggs/

#############################################################
# Jupyter
#############################################################

.iypnb_checkpoints/
notebooks/

#############################################################
# IDE / OS files
#############################################################

.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

#############################################################
# Environment Files
#############################################################

.env
.env.*
!.env.example

#############################################################
# Logs
#############################################################

logs/
*.log

#############################################################
# Data artifacts
#############################################################

data/raw
data/interim
data/processed
data/external
data/predictions

#############################################################
# Model artifacts
#############################################################

models/
mlruns/

#############################################################
# Reports
#############################################################

reports/

#############################################################
# Temporary Files
#############################################################

*.tmp
*.bak
*.swp
*.swo
*.orig
.cache/